* {
  box-sizing: border-box;
  --text-color: #29316b;
  --bg-color: #fafdff;
  --accent-color: #1094fb;
  --sub-color: #c3e2fa;
}

body {
  width: 320px;
  padding: 12px;
  font-family: sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  font-size: 14px;
  line-height: 24px;
}

section {
  margin-top: 16px;
  padding-top: 8px;
}

h2 {
  margin: 0 0 8px 0;
  font-size: 1.1em;
  color: var(--accent-color);
}

label {
  display: flex;
  padding: 0 10px;
  height: 1lh;
  gap: 6px;
}
label:has(input[type="checkbox"]),
label:has(input[type="number"]) {
  align-items: center;
  height: 1.4lh;
}

/* Radio button styles */
input[type="radio"] {
  display: none;
}

.radio-wrapper {
  position: relative;
  margin: 0 15px;
}
.radio-wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 1lh;
  top: 0;
  border-radius: 0.5lh;
  background-color: var(--accent-color);
  transition: .25s;
  z-index: -1;
}
.radio-wrapper:has(label:nth-child(2)>input[type="radio"]:checked)::before {
  top: 1lh;
}
.radio-wrapper:has(label:nth-child(3)>input[type="radio"]:checked)::before {
  top: 2lh;
}
.radio-wrapper:has(label:nth-child(4)>input[type="radio"]:checked)::before {
  top: 3lh;
}
/* 本当は末尾以外に背の高い行があるとズレるけど... */
.radio-wrapper:has(label>input[type="radio"]:checked~input[type="checkbox"])::before,
.radio-wrapper:has(label>input[type="radio"]:checked~input[type="number"])::before {
  height: 1.4lh;
  border-radius: 0.7lh;
}

label:has(input[type="radio"]) {
  transition: .25s;
}

label:has(input[type="radio"]:checked) {
  font-weight: bold;
  color: #fff;
}

/* Number input styles */
input[type="number"] {
  width: 50px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Toggle switch styles */
input[type="checkbox"] {
  display: none;
}

i {
  --height: 1.6em;
  --offset: 1.2em;
  --dotsize: 1.2em;

  display: inline-block;
  width: calc(var(--height) + var(--offset));
  height: var(--height);
  border-radius: 0.8em;
  vertical-align: middle;
  transition: .25s .09s;
  position: relative;
  background: var(--sub-color);

  &:after {
    content: " ";
    display: block;
    width: var(--dotsize);
    height: var(--dotsize);
    top: calc((var(--height) - var(--dotsize)) / 2);
    left: calc((var(--height) - var(--dotsize)) / 2);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    transition: .15s;
  }
}

input[type="checkbox"]:checked+i {
  background: var(--accent-color);
}

input[type="checkbox"]:checked+i:after {
  transform: translateX(var(--offset));
}